
* {
    box-sizing: border-box;
}
body{
    background-color: rgba(102, 104, 107, 0.096);
}
.notification__widget{
    position: absolute;
    top:30%;
    left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    padding: 20px;
    height: 200px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(170, 170, 170, 0.2);
    border-style: none;
    border-radius: 10px;
}

.indicators{
    display: flex;
    justify-content: space-between;
}

.counter{
    color: black;
    font-family: cursive;
    font-weight: 100;
    font-size: 15px;
    
}

.spinner{
    color: black;
    font-family: cursive;
    font-weight: 100;
    font-size: 15px;
}


.progress__widget{
    height: 5px;
}

.progress__bar{
    width: 100%;
    background-color: rgba(170, 170, 170, 0.3);
    height:10px;
    border-radius: 8px;
}

.progress__indicator {
    position: absolute;
    background-color: lime;
    width: 0%; /* 92% max */
    height: 10px;
    border-radius: 8px;
    transition:0.3s;
}

#fetchDataBtn{
    background-color: rgba(1, 57, 161, 0.8);
    color: white;
    font-weight: 100;
    font-size: 15px;
    width:100px;
    height: 40px;
    box-shadow: 1px 1px 20px  rgba(37, 37, 37, 0.205);
    border-radius: 10px;
    cursor: pointer;
    border-style: none;
    outline-style: none;
}

#fetchDataBtn:disabled{
    background-color: rgba(151, 178, 228, 0.8);

}